canvas {
    display: inline-block;
}

.colors {
    display: inline-block;
    margin-left: 10px;
}

.container {
    display: inline-block;
}

.radius {
    margin-left: 15px;
    font-size: 20px;
    font-weight: 600;
}

.radius button {
    font-size: 30px;
}

.colors div {
    border: 2px solid black;
    width: 150px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    transition: 200ms;
}

.colors div:hover {
    transform: scale(1.1);
}

.black {
    background: black;
}

.white {
    background: white;
}

.green {
    background: green;
}

.blue {
    background: blue;
}

.red {
    background: red;
}

.yellow {
    background: yellow;
}